.vs/seafight/v14/.suo
seafight/seafight/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
seafight/seafight/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.sln
seafight/seafight/bin/x86/Debug/Microsoft.Xna.Framework.dll